pytz>=2022.1
requests>=2.27
urllib3>=1.26
-e ..\\credentials
-e ..\\loom
# the following is syntactically correct, but fails to launch a browser to login to github
# credentials @ git+https://github.com/drisen/credentials.git@v1.0
